### Q.1 What are the characteristics of the tuples? Is tuple immutable?

#### Answer 1 
Tuple data types are used to store a collection of data or information in python. <br>
Its feature and charateristics are: <br><br>
      1. We can create tuples by entering elements separated with comma inside paranthesis. Parathesis are optional, But comma is what makes a tuple. Use of paranthesis is recommended as it avoids confusion while using functions. <br><br>
     t = (a,b,c,d). Here t is a tuple<br><br>
     2. **Immutability**: Once a Tuple is created, it cannot be changed. Though a new tuple can be created, but changes are not allowed.<br><br>
     It means we cannot alter anything in elements of the tuple:<br><br>
        > - Changing the order of elements is not allowed.<br>
        > - We cannot add, or remove or change any element of tuple.<br><br>
     3. **Indexing**: Tuple elemants start from 0,1,2,3,..<br><br>
     4. **Duplication**: Tuples allows duplication of data or elements.<br><br>
     5. **Operations**: Commom sequence operations are allowed in tuples.<br> 
       Example- Concatenation, using in and not in operator, use of functions like len(), max()&  min()

In [12]:
t1 = ("a",1,"c",5.6,1) #This is a tuple. Here tuple allows duplication of element 1

In [13]:
t1

('a', 1, 'c', 5.6, 1)

In [14]:
t1[2]#Find element at index 2.

'c'

In [17]:
2 in t1 #Basic sequence operation

False

In [18]:
t1 *2 #Basic sequence operation

('a', 1, 'c', 5.6, 1, 'a', 1, 'c', 5.6, 1)

### Q.2 What are the two tuple methods in python? Give an example of each method. Give a reason why tuples have only two in-built methods as compared to Lists.

### Answer
Tuple has only two in-built methods: <br>
1. **index** --> Returns the first index of elementin tuple .
2. **count** --> Returns the number of occurrences of element in tuple."""

In [42]:
t2 = (1,2,3,4,5,1,5,3,4,1,1,1,3,3) #A tuple is created

In [43]:
t2.index(3) #Returns the index of 1st occurrence of 3 in tuple.

2

In [44]:
t2.count(3) #Returns the number of occurrences of 3 in tuple.

4

The above attributes of tuple only return information about the data stored in the tuple and do not try to alter the information. Any other attribute or method can alter the information stored in the tuple which violates the main feature of immutability of tuples. That is why no other attribute is usable for tuple.<br>
Example :- <br>
**clear()** --> Deletes all elements. It will not delete the tuple, but remove elements. Thus alterinf information.

### Q3. Which collection datatypes in python do not allow duplicate items? Write a code using a set to remove duplicates from the given list.
### List = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]

### Answer 3
Out of the for collection datatypes in python, i.e., List, Tuple, Set & Dictionary, "Set" datatype does not allow duplicate items.<br>
A set datatype automatically removes all duplicates and keeps only unique values.

In [40]:
List = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]

Set and list dattypes can be type converted.

In [41]:
a = set(List) #Converting the above list to set datatype will remove all dupllicates and keep only unique balues
print (a)

{1, 2, 3, 4}

### Q4. Explain the difference between the union() and update() methods for a set. Give an example of each method.

### Answer 4
#### Union()

Returns a new set as a union of sets. It means a new set with elements of either sets will be formed.

In [45]:
#Example of union of sets x,y,z.
#Union() returns a combination of elements of sets x,y & z as a ney set.
#But Sets x,y,z remain same.
x={"Shubham", "Amar",1,5,5,9,7,5}
y={"Grover", "Amar",1,5,3,8}
z={"Ayush",8,10,8}
print(x.union(y,z))
print(x)
print(y)
print(z)

{1, 3, 5, 'Grover', 7, 8, 'Amar', 9, 10, 'Shubham', 'Ayush'}
{1, 5, 7, 'Shubham', 'Amar', 9}
{1, 3, 5, 'Grover', 8, 'Amar'}
{8, 10, 'Ayush'}

#### Update()

It updates the set, adding elements from all other sets with itself. Unlike union, no new set is formed. This method does not retun anything.

In [46]:
#Example of update
#update() updates the set itself with the union of elements of sets x(itself) & y & z
#Set gets updated. Nothing is returned from the update() method.
x={"Shubham", "Amar",1,5,5,9,7,5}
y={"Grover", "Amar",1,5,3,8}
z={"Ayush",8,10,8}
print(x.update(y,z)) #None willbe returned.
print(x) # x gets updated
print(y)
print(z)

None
{1, 3, 5, 'Grover', 7, 8, 'Amar', 9, 10, 'Shubham', 'Ayush'}
{1, 3, 5, 'Grover', 8, 'Amar'}
{8, 10, 'Ayush'}

### Q.5 What is a dictionary? Give an example. Also, state whether a dictionary is ordered or unordered.

### Answer 5
Dictionary is a datatype that stores information by mapping values to keys. in following form:-<br>

**d = {key : value}**<br>

Kay & value pairs are separated by comma (,) as below:<br>

**d1 = {key1 : value1 , key2: value2}**

These are mutable.<br>
Dictionaries do not allow duplicate keys.<br>

Example of a dictiinary is:-

In [14]:
d1 = {"name" : "Shubham", "email_id" : "shubh@gmail.com" , "course" : "Data Science Masters", "contact" : 1075893641}
d1

{'name': 'Shubham',
 'email_id': 'shubh@gmail.com',
 'course': 'Data Science Masters',
 'contact': 1075893641}

In python, if a sequence is considered ordered, it means that the items entered have a defined order, and that order will not change.

Unordered means that the items do not have a defined order, so you cannot refer to an item by using an index. Thus indexing of unordered items is not possible.

Dictionary is of ordered type. They are ordered by keys part of elements.<br>
Example:-

In [18]:
print ("{} is the name of the Candidate & {} is the contact number".format(d1["name"],d1["contact"]))

Shubham is the name of the Candidate & 1075893641 is the contact number

### Q.6. Can we create a nested dictionary? If so, please give an example by creating a simple one-level nested dictionary.

### Answer 6
Python allows to a collection of dictionaries into a single dictionary in form of nested dictionary.

Example:-

In [23]:
d2 = {1: {"name" : "Shubham", "email_id" : "shubh@gmail.com" , "course" : "Data Science Masters", "contact" : 1075893641},
      2: {"name" : "Tushar", "email_id" : "tush@gmail.com" , "course" : "Data Science Masters", "contact" : 1085967411}}
d2

{1: {'name': 'Shubham',
  'email_id': 'shubh@gmail.com',
  'course': 'Data Science Masters',
  'contact': 1075893641},
 2: {'name': 'Tushar',
  'email_id': 'tush@gmail.com',
  'course': 'Data Science Masters',
  'contact': 1085967411}}

### Q7. Using setdefault() method, create key named topics in the given dictionary and also add the value of the key as this list ['Python', 'Machine Learningâ€™, 'Deep Learning']

### dict1 = {'language' : 'Python', 'course': 'Data Science Masters'}

### Answer 7
Method setdefault() inserts a akey into the dictionary with the value of default(default = None) if the said key is not present.<br>
But it will return the value of the key if it is already present in the dictionary

In [27]:
dict1 = {'language' : 'Python', 'course': 'Data Science Masters'}
dict1.setdefault("topics") #Since there is no key named "topics", a new key named "topics" will be added with its value as None.

In [32]:
dict1["topics"] = ["Python","Machine Learning","Deep Learning"] #List is added as value to "topics"
dict1

{'language': 'Python',
 'course': 'Data Science Masters',
 'topics': ['Python', 'Machine Learning', 'Deep Learning']}

### Q8. What are the three view objects in dictionaries? Use the three in-built methods in python to display these three view objects for the given dictionary.
### dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}

### Answer 8
The three view objects in dictionary are:

dict_keys()<br>
dict_values()<br>
dict_items()<br>

The in-bult functions used for these objects are:

keys()<br>
values()<br>
items()

The view objects so obtained are dynamic in nature and reflects any change made to the dictionary.

Example:-

In [36]:
dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}
keys = dict1.keys()
values = dict1.values()
items = dict1.items()
print(keys)
print(values)
print(items)

dict_keys(['Sport', 'Teams'])
dict_values(['Cricket', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']])
dict_items([('Sport', 'Cricket'), ('Teams', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand'])])